In [56]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("~/airflow/data/Churn_Data.csv")

In [58]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [59]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [34]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [60]:
df['MultipleLines'] = df.MultipleLines.apply(lambda x: x if len(x) < 5 else 'No') 
df['OnlineSecurity'] = df.OnlineSecurity.apply(lambda x: x if len(x) < 5 else 'No') 
df['OnlineBackup'] = df.OnlineBackup.apply(lambda x: x if len(x) < 5 else 'No') 
df['DeviceProtection'] = df.DeviceProtection.apply(lambda x: x if len(x) < 5 else 'No') 
df['TechSupport'] = df.TechSupport.apply(lambda x: x if len(x) < 5 else 'No') 
df['StreamingMovies'] = df.StreamingMovies.apply(lambda x: x if len(x) < 5 else 'No') 
df['MultipleLines'] = df.MultipleLines.apply(lambda x: x if len(x) < 5 else 'No') 
df['StreamingTV'] = df.StreamingTV.apply(lambda x: x if len(x) < 5 else 'No')

In [61]:
df.Churn.value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

In [62]:
for col in df.columns:
    if max([len(str(i)) for i in df[f"{col}"].value_counts().keys()]) > 5:
        print(col)

customerID
gender
InternetService
Contract
PaymentMethod
MonthlyCharges
TotalCharges

In [112]:
df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Iterate and update the DataFrame
for i in range(len(df)):
    if pd.isna(df.at[i, 'TotalCharges']):
        df.at[i, 'TotalCharges'] = df.at[i, 'MonthlyCharges'] * 12

In [113]:
df[df.TotalCharges == ' ']

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [89]:
df.loc[3]

customerID                         7795-CFOCW
gender                                   Male
SeniorCitizen                               0
Partner                                    No
Dependents                                 No
tenure                                     45
PhoneService                               No
MultipleLines                              No
InternetService                           DSL
OnlineSecurity                            Yes
OnlineBackup                               No
DeviceProtection                          Yes
TechSupport                               Yes
StreamingTV                                No
StreamingMovies                            No
Contract                             One year
PaperlessBilling                           No
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                           42.3
TotalCharges                          1840.75
Churn                                      No
Name: 3, dtype: object

In [82]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [115]:
def all_integers(seriesObject):
    for val in seriesObject:
        if not isinstance(val, int) :
            print(val, type(val))
            return False
    return True

In [118]:
all_integers(df.tenure)

True

In [119]:
df.to_csv("~/airflow/data/Clean_Churn_Data.csv")

In [67]:
adf = pd.read_csv("~/airflow/data/Updated_Churn_Data.csv")

In [68]:
adf.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,date
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,2005-04-15
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,2005-04-15
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,2005-04-15
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,2005-04-15
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2005-04-15

In [66]:
for col in adf.columns:
    if max([len(str(i)) for i in adf[f"{col}"].value_counts().keys()]) > 5:
        print(col)

customerID
gender
MultipleLines
InternetService
OnlineSecurity
OnlineBackup
DeviceProtection
TechSupport
StreamingTV
StreamingMovies
Contract
PaymentMethod
MonthlyCharges
TotalCharges
date

In [69]:
cleaned = pd.read_csv("~/airflow/data/Clean_Churn_Data.csv")

In [70]:
cleaned.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [71]:
upd = pd.read_csv("~/airflow/data/Updated_Churn_Data.csv")

In [72]:
upd.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,date
0,0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,2005-04-15
1,1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,2005-04-15
2,2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,2005-04-15
3,3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,2005-04-15
4,4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,2005-04-15

In [73]:
for col in upd.columns:
    if max([len(str(i)) for i in upd[f"{col}"].value_counts().keys()]) > 5:
        print(col)

customerID
gender
InternetService
Contract
PaymentMethod
MonthlyCharges
TotalCharges
date